<mat-card>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight=2:1>
            @for (tile of tiles; track tile) {
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-flat-button [style.background-color] = "tile.color" (click) = "onClick(tile.text)">
                    <mat-icon>{{tile.icon}}</mat-icon>
                    {{tile.text}}
                </button>
            </mat-grid-tile>
            }
        </mat-grid-list>
    </mat-card-content>
</mat-card>