
<div class="container" *ngIf="client | async as clientData">
    <mat-card class="card">
        <mat-card-content>
            <div>
                <mat-form-field>
                    <mat-label>Nome do cliente</mat-label>
                    <input matInput [(ngModel)]="clientData.name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>E-mail do cliente</mat-label>
                    <input matInput [(ngModel)]="clientData.email">
                    @if (email.invalid) {
                    <mat-error>{{getErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click) = "onSave(clientData.name, clientData.email)">Salvar</button>
                <button mat-raised-button color="warn" (click) = "onCancel()">Cancelar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>