.container{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 60%;  // Ajuste conforme necessário
}

mat-form-field{
    width: 100%;
}