<div class="container">
    <mat-card class="card">
        <mat-card-content>
            <div>
                <mat-form-field>
                    <mat-label>Nome do produto</mat-label>
                    <input [(ngModel)]="inputName" matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Fabricantes</mat-label>
                    <mat-select [(ngModel)]="selectedManufacturer" name="manufacturer">
                        @for (manufacturer of manufacturersList; track manufacturer) {
                        <mat-option [value]="manufacturer.id">{{manufacturer.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Preço do produto</mat-label>
                    <input [(ngModel)]="inputPrize" matInput>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
                <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>